hr {
    border: none;
    border-top: 1px solid rgb(150 150 150 / 50%);
    height: 1px;
}

body {
    background-color: var(--color-background);
}

.relative {
    position: relative;
}

.rounded {
    &.small {
        border-radius: var(--small-radius);
    }
    &.large {
        border-radius: var(--large-radius);
    }
    &:not(.small, .large) {
        border-radius: var(--medium-radius);
    }
}