hr {
    border: none;
    border-top: 1px solid rgb(150 150 150 / 50%);
    height: 1px;
}

body {
    background-color: var(--color-background);
}

.relative {
    position: relative;
}

.rounded {
    &.small {
        border-radius: var(--small-radius);
    }
    &.large {
        border-radius: var(--large-radius);
    }
    &:not(.small, .large) {
        border-radius: var(--medium-radius);
    }
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, var(--color-background-text-alt) 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .2s, opacity 1s;
    }
    
    &:active::before {
        transform: scale(0, 0);
        opacity: .3;
        transition: 0s;
    }
}

@mixin scrollbar() {
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}

.mt {
    margin-top: 16px;
}

.mb {
    margin-bottom: 16px;
}

.ms {
    margin-left: 16px;
    margin-right: 16px;
}

.pt {
    padding-top: 16px;
}

.pa {
    padding: 16px;
}

.ma {
    margin: 16px;
}

.align-right {
    float: right;
}

.inline-flex {
    display: flex;
    align-items: center;

    &>* {
        display: inline-flex !important;
    }
}