@import url('http://fonts.cdnfonts.com/css/google-sans');

body {

    font-family: 'Product Sans Light', sans-serif;

    @include headings {
        font-family: 'Product Sans', sans-serif;
        color: var(--color-background-text);
    }

    p, small, span, li {
        color: var(--color-background-text-alt);
    }

}

@mixin font($family) {
    font-family: $family, Arial, Helvetica, sans-serif;
}