@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Google+Sans:wght@400;500&family=Material+Icons&family=Material+Icons+Outlined&display=swap");

body {

    font-family: var(--font-text);

    @include headings {
        font-family: var(--font-text);
        font-weight: 500;
        color: var(--color-background-text);
    }

    p, small, span, li {
        font-weight: 400;
        color: var(--color-background-text-alt);
    }

    b {
        font-weight: 500;
    }

    .black {
        color: #000;
    }

    &.dark {
        .black {
            color: #fff;
        }
    }

    p.small {
        font-size: 14px;
        font-weight: normal;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .small i {
        font-size: 16px;
    }

    p>i {
        vertical-align: -25%;
    }

    .material-icons {
        font-family: var(--font-icons);
    }

}

@mixin font($family) {
    font-family: $family, Arial, Helvetica, sans-serif;
}