$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

:root {
    --color-primary: #1a73e8;
    --color-primary-hover: #185abc;
    --color-primary-text: #fff;
    --color-secondary: #e8f0fe;
    --color-secondary-hover: #e8f0fe;
    --color-secondary-text: #000;
    --color-background: #fff;
    --color-background-alt: #fafafa;
    --color-background-text: #212121;
    --color-background-text-alt: #5f6368;

    --small-radius: 4px;
    --medium-radius: 8px;
    --large-radius: 16px;

    --font-icons: "Material Icons";
    --font-special: "Google Sans", "Roboto", Arial, Helvetica, sans-serif;
    --font-text: "Roboto", Arial, Helvetica, sans-serif;
}

body.dark {
    --color-secondary: #243046;
    --color-secondary-text: #fff;
    --color-background: #202124;
    --color-background-alt: #313235;
    --color-background-text: #e8eaed;
    --color-background-text-alt: #9aa0a6;
}