button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a.btn, button.btn {

    text-decoration: none;
    @include prefix((transition: box-shadow 350ms ease), webkit);

    &.primary {
        color: var(--color-primary-text);
        background: var(--color-primary);

        &:hover {
            @include box-shadow(0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%));
            background-color: var(--color-primary-hover);
        }
    }

    &.secondary {
        color: var(--color-secondary-text);
        background: var(--color-secondary);

        &:hover {
            @include box-shadow(0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%));
            background-color: var(--color-secondary-hover);
        }
    }

    &.text {
        margin-bottom: 16px;
        border-radius: var(--medium-radius);
        font-size: 16px;
        font-weight: 500;
        font-family: "Google Sans Medium", Arial, Helvetica, sans-serif;
        text-align: center;

        i {
            margin-left: 8px;
            vertical-align: text-bottom;
        }

        &.small {
            height: 32px;
            padding: 4px 16px;
        }

        &.medium {
            height: 48px;
            padding: 8px 24px;
        }
    }

    &.icon {
        border-radius: 50%;
        box-sizing: border-box;
        height: 48px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: rgb(0 0 0 / 8%);
        }

        i {
            font-size: 24px;
        }
    }

}