button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;

    &:not(:focus-visible) {
        outline: inherit;
    }
}

a.btn, button.btn {
    text-decoration: none;
    @include prefix((transition: box-shadow 150ms ease), webkit);

    &:not(.icon) {
        height: 36px;
        padding: 0 12px;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        text-transform: uppercase;
        font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
        font-size: .9rem;
        font-weight: 500;
        line-height: 32px;
        border-radius: var(--medium-radius);

        &.outlined {
            border: 1px solid rgb(150 150 150 / 30%);

            &:hover {
                border: 1px solid transparent;
            }
        }

        &:not(.primary, .secondary) {
            color: var(--color-background-text-alt);

            &:hover {
                background-color: rgb(150 150 150 / 25%);
            }
        }

        &.small {
            height: 28px;
        }

        &.large {
            height: 48px;
        }
    }

    &.icon {
        border-radius: 50%;
        box-sizing: border-box;
        height: 48px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: rgb(0 0 0 / 8%);
        }

        i {
            color: var(--color-background-text-alt);
            font-size: 24px;
        }

        &[icon]::after {
            content: attr(icon);
            color: var(--color-background-text-alt);
            font-size: 24px;
            font-family: "Material Icons";
        }
    }

    &.extended {
        margin: 16px 0 16px 24px;
        padding: 0 16px;
        height: 48px;
        border-radius: 25px;
        font: 400 15px/20px "Google Sans";
        text-transform: none;

        i {
            margin-right: 12px;
        }
    }

    &.primary {
        background-color: var(--color-primary);
        color: var(--color-primary-text);

        i {
            color: var(--color-primary-text);
        }

        &:hover {
            background-color: var(--color-primary-hover);
        }
    }

    &.secondary {
        background-color: var(--color-secondary);
        color: var(--color-secondary-text);
    }

    &.primary, &.secondary {
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);

        &:hover {
            box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
        }
    }

    &.hidden {
        visibility: hidden;
    }
}

.btn-shower:hover .btn.hidden {
    visibility: visible;
}