.checkbox {
    position: relative;
    display: inline-block;
    color: var(--color-background-text-alt);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;

    input {
        height: 16px;
        width: 16px;
        cursor: pointer;
        opacity: 0;

        &:checked {
            + span {
                &::before {
                    background-color: var(--color-primary);
                    border-color: var(--color-primary);
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 2px;
                    left: 0px;
                    width: 10px;
                    height: 5px;
                    border: solid 2px var(--color-primary-text);
                    border-right: none;
                    border-top: none;
                    transform: translate(3px, 4px) rotate(-45deg);
                }
            }
        }

        &:disabled {
            + span {
                cursor: initial;
                opacity: 0.5;
            }
        }
    }

    span {
        vertical-align: text-bottom;
        margin: 0 8px;
        padding-top: 8px;

        &::before {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 2px;
            left: 0;
            content: "";
            display: inline-block;
            box-sizing: border-box;
            border: solid 2px var(--color-background-text-alt);
            border-radius: 2px;
        }
    }

    &:hover {
        span {
            &::before {
                background-color: rgb(150 150 150 / 20%);
            }
        }
    }
}