main {
    margin-left: 0;
    display: flow-root;
    transition: margin-left 150ms cubic-bezier(0.4,0.0,0.2,1);

    &.padding {
        padding: 8px;
    }
}

aside.drawer {
    &.open:not(.modal) {
        &~main {
            margin-left: 280px;
        }

        &.small~main {
            margin-left: 80px;
        }
    }
}

@mixin large-item {
    .item {
        height: 48px;
        padding-left: 12px;
        display: flex;
        align-items: center;
        color: var(--color-background-text-alt);
        cursor: pointer;
        text-decoration: none;
        @include prefix((border-radius: 0 25px 25px 0), webkit);
        @include prefix((transition: border-radius 150ms ease), webkit);

        i {
            width: 24px;
            height: 24px;
            font-size: 24px;
            margin: 0 12px;
        }

        span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: absolute;
            margin-left: 56px;
            max-width: 180px;
            font-family: var(--font-special);
        }
        
        &.active {
            background: var(--color-secondary);
            
            i, span {
                color: var(--color-primary);
            }
        }

        &:not(.active):hover {
            background: rgb(0 0 0 / 8%);
        }
    }
}

@mixin small-item {
    .item {
        margin-left: 12px;
        margin-right: 20px;
        padding-left: 0;
        @include prefix((border-radius: 25px), webkit);

        span {
            margin-left: -280px;
        }
    }
}

aside.drawer {
    padding-top: 8px;
    height: calc(100% - 64px);
    min-height: auto;
    position: fixed;
    top: 64px;
    overflow-y: auto;
    background: var(--color-background);
    transition: width 150ms cubic-bezier(0.4,0.0,0.2,1), box-shadow 150ms ease;

    @include large-item();

    &.small-tabs {
        .item {
            height: 40px;
            width: 230px;

            i {
                margin: 0 8px;
            }
        }
    }

    a.bottom {
        padding: 16px 8px 16px 24px;
        color: var(--color-background-text-alt);
        text-decoration: none;
        font-family: var(--font-text);
        font-size: 14px;
    }

    &+.drawer-backdrop {
        display: none;
    }

    &.open {
        width: 280px;
    }

    &.modal {
        position: fixed;
        top: 0;
        width: 280px;
        margin-top: 0;
        margin-left: 0;
        padding-top: 8px;
        height: 100%;
        z-index: 9;
        transition: margin-left 250ms cubic-bezier(.2,.61,.42,.97);

        &:not(.open) {
            margin-left: -280px;
        }

        &.open {
            @include box-shadow(0 16px 10px 0 rgb(0 0 0 / 14%), 0 11px 18px 0 rgb(0 0 0 / 12%), 0 13px 5px -1px rgb(0 0 0 / 20%));
        }

        &.open+.drawer-backdrop {
            z-index: 8;
            display: block;
            position: fixed;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgb(0 0 0 / 55%);
        }
    }

    &.small {
        width: 80px;

        @include small-item();

        &:not(:hover)::-webkit-scrollbar {
            display: none;
        }

        &.small-tabs {
            width: 72px;

            .item {
                width: 40px;

                i {
                    margin: 0 8px;
                }
            }
        }

        &:hover {
            width: 280px;
            z-index: 10;

            @include box-shadow(0 16px 10px 0 rgb(0 0 0 / 14%), 0 11px 18px 0 rgb(0 0 0 / 12%), 0 13px 5px -1px rgb(0 0 0 / 20%));
            @include large-item();

            .item {
                margin-left: 0;

                i {
                    vertical-align: top;
                }

                span {
                    margin-left: 56px;
                }
            }

            &.small-tabs {
                width: 256px;

                .item {
                    height: 40px;
                    width: 220px;

                    i {
                        margin: 0 8px;
                    }
                }
            }

            a.bottom {
                display: block;
            }
        }
    }

    &.small-tabs {
        .item {
            span {
                max-width: 160px;
                font-size: .875rem;
                font-weight: 500;
                line-height: 1.25rem;
            }
        }
    }
}