$background: rgb(150 150 150 / 15%);

.loader ellipse {
	stroke-dasharray: 10, 9999;
	animation: circular-load 2s cubic-bezier(0.8,0.25,0.25,0.9) infinite, circular-spin 2s linear infinite;
	transform-origin: center;
    stroke: var(--color-primary);
}

.linear-loader {
    position: relative;
    width: 100%;
    height: 4px;
    margin: 8px 0;
    background-color: rgb(150 150 150 / 15%);
    transition: height 350ms ease-in;

    &:not(.hidden) {
        div {
            transition: 350ms ease;
        }

        .indeterminate {
            position: absolute;
            left: 0;
            width: 50%;
            height: 4px;
            background-color: var(--color-primary);
            animation: linear-indeterminate 2s infinite;
        }
    
        .determinate {
            width: 0%;
            height: 4px;
            background-color: var(--color-primary);
        }
    }

    &.hidden {
        height: 0;
    }
}

@keyframes linear-indeterminate {
    0% {
        width: 0%;
        left: 0%;
        animation-timing-function: ease-in;
    }

    25% {
        width: 70%;
        left: 30%;
        animation-timing-function: linear;
    }

    50% {
        width: 0%;
        left: 100%;
        animation-timing-function: ease-out;
    }

    50.0001% {
        left: 0%;
        width: 0%;
        animation-timing-function: linear;
    }

    65% {
        left: 0%;
        width: 70%;
        animation-timing-function: linear;
    }

    80% {
        width: 0%;
        left: 100%;
        animation-timing-function: ease-out;
    }

    100% {
        width: 0%;
        left: 100%;
        animation-timing-function: linear;
    }
}

@keyframes circular-load {
	50% {
		stroke-dasharray: 75;
		stroke-dashoffset: 0;
		transform: rotateZ(0deg);
	}
	100% {
		stroke-dasharray: 80;
		stroke-dashoffset: -95;
	}
}

@keyframes circular-spin {
	to {
		transform: rotateZ(360deg);
	}
}