@mixin input-filled-label() {
    &:focus+label, &:not(:placeholder-shown)+label {
        @content
    }
}

.text-field {
    position: relative;
    display:inline-block;
    margin-top: 18px;
    margin-bottom: 8px;
    vertical-align: bottom;

    input {
        border: none;
        box-sizing: border-box;
        background-color: transparent;
        color: var(--color-background-text);

        &:focus+label {
            color: var(--color-primary);
        }

        @include input-filled-label() {
            margin-top: -16px;
            font-size: 14px;
        }
    }

    label {
        color: var(--color-background-text-alt);
        position: absolute;
        margin-top: -4px;
        left: 0;
        font-size: 18px;
        transition: margin-top 150ms ease, font-size 150ms ease-out;
    }

    span {
        position: absolute;
        left: 0;
        bottom: -14px;
        font-size: 12px;
    }

    &.error span, input:invalid~span {
        color: #d50000;
    }

    &:not(.outlined) {
        box-sizing: border-box;
        border-bottom: 1px solid rgb(125 125 125 / 10%);

        input {
            &:focus {
                border-bottom: 2px solid var(--color-primary);
            }
        }

        &.error input, input:invalid {
            border-bottom: 1px solid #d50000;

            &:focus {
                border-bottom: 2px solid #d50000;
            }
        }
    }

    &.filled {
        input {
            padding: 16px 8px 8px 8px;
            background-color: rgb(125 125 125 / 10%);
            border-top-left-radius: var(--medium-radius);
            border-top-right-radius: var(--medium-radius);

            @include input-filled-label() {
                margin-top: 0px;
                font-size: 11px;
            }
        }

        label {
            margin-top: 12px;
            margin-left: 8px;
        }

        &:hover {
            input {
                background-color: rgb(125 125 125 / 20%);
            }
        }
    }

    &.outlined {
        input {
            padding: 12px 8px;
            border: 1px solid rgb(125 125 125 / 30%);
            border-radius: var(--small-radius);

            @include input-filled-label() {
                margin-top: -12px;
            }

            &:focus {
                border-color: var(--color-primary);
                box-shadow: inset 0 0 0 1px var(--color-primary);
            }
        }

        &.error input, input:invalid {
            border: 1px solid #d50000;

            &:focus {
                border-color: #d50000;
                box-shadow: inset 0 0 0 1px #d50000;
            }
        }

        label {
            margin-top: 8px;
            margin-left: 8px;
            padding: 4px;
            background-color: var(--color-background);
        }
    }

    &.error {
        label {
            color: #d50000;
        }

        input {
            &:focus+label {
                color: #d50000;
            }
        }
    }

    input:invalid {
        &+label {
            color: #d50000;
        }
    }
}

input {
    outline: none;

    &.no-border {
        border: none;
        height: 24px;
        margin: 12px;
        @include font('Google Sans');
        font-size: 16px;
        color: var(--color-background-text-alt)
    }
}