header.top-app-bar.fixed~main {
    margin-top: 64px;
}

header {
    
    &.top-app-bar {

        z-index: 7;
        background-color: var(--color-background);

        @include prefix((
            box-shadow: inset 0 -1px 0 0 rgb(150 150 150 / 40%),
            transition: box-shadow 250ms
        ), webkit moz);
        
        &.elevated {
            @include box-shadow(
                0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%)
            );
        }

        &.fixed {
            position: fixed;
            width: 100%;
            top: 0; 
        }

        .wrapper {
            height: 48px;
            padding: 8px;
            display: flex;
            flex-direction: row;
            justify-items: center;
            justify-content: space-between;

            .left {
                .btn {
                    display: inline-flex;
                }

                span.brand {
                    color: var(--color-background-text-alt);
                    @include font('Google Sans');
                    font-size: 22px;
                    display: inline-flex;
                    margin: 10px 16px;
                    vertical-align: top; 
                }
            }

            .search-bar {
                position: relative;
                flex-grow: 2;
                margin: 0 16px;
                max-width: 50vw;

                @include for-small-only() {
                    display: none;
                }

                .btn {
                    position: absolute;
                    display: inline-flex;

                    &.left {
                        left: 0;
                    }
                    
                    &.right {
                        right: 0;
                    }
                }

                input {
                    height: 100%;
                    width: 100%;
                    padding-left: 56px;
                    border: none;
                    outline: none;
                    border-radius: var(--medium-radius);
                    background-color: rgb(150 150 150 / 20%);
                    @include font('Google Sans');
                    font-size: 16px;
                    font-weight: normal;

                    &:focus {
                        background-color: transparent;
                        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
                    }
                }
            }

            .toolbar {
                justify-content: flex-end;

                .btn {
                    display: inline-flex;
                }
            }

            .btn {
                color: var(--color-background-text-alt);
            }
        }

        &.colored {
            background: var(--color-primary);

            .left span.brand, .btn i {
                color: var(--color-primary-text);
            }
        }

    }

}