main.top-app-bar-fixed {
    margin-top: 64px;
}

header {
    
    &.top-app-bar {

        z-index: 7;
        background-color: var(--color-background);

        @include prefix((
            box-shadow: inset 0 -1px 0 0 rgb(150 150 150 / 40%),
            transition: box-shadow 250ms
        ), webkit moz);
        
        &.elevated {
            @include box-shadow(
                0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%)
            );
        }

        &.fixed {
            position: fixed;
            width: 100%;
            top: 0; 
        }

        .wrapper {
            height: 48px;
            padding: 8px;

            span.brand {
                color: var(--color-background-text-alt);
                @include font('Google Sans');
                font-size: 22px;
                display: inline-block;
                margin: 10px 16px;
                vertical-align: top; 
            }

            .left {
                display: inline-block;
            }

            .toolbar {
                float: right;
            }

            .btn {
                color: var(--color-background-text-alt);
            }
        }

        &.colored {
            background: var(--color-primary);

            span.brand, .btn i {
                color: var(--color-primary-text);
            }
        }

    }

}